fastapi
uvicorn[standard]
duckdb
google-cloud-storage
joblib
lightgbm
numpy<2.3
pandas
pyarrow
pydantic
python-dotenv
scikit-learn==1.6.1
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
